{% extends "base.html" %}

{% block title %}{{ composer.name }} - MIDI Library{% endblock %}

{% block content %}
    <div class="page-grid-container">
        <div class="page-grid-left">
            <div class="entity-header">
                <div class="entity-image">
                    {% if composer.image_url %}
                        <img src="{{ composer.image_url }}" alt="{{ composer.name }}">
                    {% else %}
                        <div class="placeholder-image-large">
                            <i class="fas fa-user"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="entity-info">
                    <h1>{{ composer.name }}</h1>
                    <div class="entity-summary">
                        <p>{{ composer.summary }}</p>
                    </div>
                    <div classs="entity-controls">
                        <button class="action-button" id="page-play-button">
                            <i class="fas fa-play"></i> Play
                        </button>
                        <button class="action-button" id="page-shuffle-button">
                            <i class="fas fa-shuffle"></i> Shuffle
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-grid-right">
            <div class="track-list-container">
                <h2>Works</h2>
                <ul class="track-list">
                    {% for file_id in composer.works %}
                        {% set file = model.files[file_id] %}
                        <li class="track-item track-item-clickable" 
                            data-track-url="{{ file.midi_url | urlencode }}" 
                            data-track-title="{{ file.title }}">
                            <span class="track-title">{{ file.title }}</span>
                            <a href="{{ file.page_url | urlencode }}" class="track-link"><i class="fas fa-info-circle"></i></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const PAGE_PLAYLIST_DATA = {{ playlist_json | safe }};
    </script>
{% endblock %}
