{% extends "base.html" %}

{% block title %}{{ file.title }} - MIDI Library{% endblock %}

{% block content %}
<div class="page-header" id="page-data" data-playlist='{{ playlist_json }}'>
    <h1>{{ file.title }}</h1>
    {% set composer = model.composers[file.composer_slug] %}
    {% if composer %}
    <h3>By <a href="{{ composer.page_url | urlencode }}">{{ composer.name }}</a></h3>
    {% endif %}
</div>

<div classs="entity-controls">
    <button class="action-button" id="page-play-button">
        <i class="fas fa-play"></i> Play this file
    </button>
    <button class="action-button add-queue-btn" data-track-url="{{ file.midi_url | urlencode }}"
        data-track-title="{{ file.title }}">
        <i class="fas fa-list-ul"></i> Add to Queue
    </button>
</div>

{% endblock %}